@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: var(--font-geist-sans);
}

@import "./components/lightswind.css";







* {
  font-family: "Geist Sans", sans-serif !important;
}




